body {
	background-color: #FCFCFC; 
	margin: 0;
}

#backgroundimage {
	/*background: url(https://scontent-a-sjc.xx.fbcdn.net/hphotos-ash2/t1/423752_1748025815418_1812556286_n.jpg);*/
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	height: 372px;
}
/*.container {
	margin: 0 auto;
	background-color: #FFFADB;
}*/
/*
div.container {
	padding-top: 20px;
}*/

h3 {
	font-family: 'Zeyada', cursive;
	font-size: 48px;
	margin: 0;
	padding: 100px 0 100px 0;
}

h3:hover { 
	-webkit-transform: scale(1.1);
}

h4, ul, p {
	font-family: 'Open Sans Condensed', sans-serif;
}

h4 {
	font-weight: 700;
	text-align: center;
	font-size: 24px;
	padding: 100px 0 30px 0;
}

h3 li {
	color: #56585E;
}

ul, p {
	font-weight: 300;
}

p, li, .list {
	font-size: 20px;
}

li {
	list-style-type: none;
	display: inline;
}

a {
	text-decoration: none;
	color: #FCFCFC;
}

#proof {
	width: 960px;
}

.hotpink, .lightfont#info, li.list, footer {
	background-color: #FF479A;
	color: #FCFCFC;
}

.lightpink, .darkfont {
	color: #56585E;
	background-color: #FACAE0;
} 

div, div#beginning, div#me {
	text-align: center;
	margin: auto;
/*	background-color: #D2F7F7;*/
}

img {
	width: 200px;
	height: 200px;
/*	padding-left: 40px;*/
	border-radius: 100px;
	box-shadow: 3px 3px 3px #56585E;
}

.float-left {
	float: left;
	margin: auto;
}

img#left-margin {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 15px;
}

img:hover { 
	-webkit-transform: scale(1.1);
} 

/*.button {
  padding:5px;
  margin-right: 15px;
  background-color: #ffffff;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  color:#000;
  text-decoration:none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: #A5AAB8;;
}

.button:hover { 
	-webkit-transform: scale(1.1);
}*/

ul li {
	text-align: center;
	padding: 10px;
}

ul {
	padding-right: 40px;
}